@import '../../../../assets/styles/media-queries';
.container{
  max-width: 70rem;
  @include sm{
    max-width: 50rem;
    padding: 2rem;
  }
}
.card{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  h1{
    text-align: center;
  }
  .btnCard{
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    font-weight: 700;
    color: var(--red);
    cursor: pointer;
    width: 15rem;
    margin: auto;
  }
  .cardContent{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .box{
      border: 0.1rem solid var(--gray);
      margin: 1rem 0;
      div{
        width: 2rem;
        height: 2rem;
        background: var(--white);
      }
      
    }    
  }
}

.animation{
  animation: BarProgress .8s ease forwards;
}

@keyframes BarProgress{
  from{
    width: 2rem;
  }to{
    width: 100%;
  }
}