@import '../../../../../../assets/styles/media-queries';

.withForm{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  form{
    background: var(--gray);
    padding: 4rem 8rem;
    border-radius: .5rem;
  }
}
.formGroup{
  display: flex;
  flex-direction: column;
}
label{
  color: var(--text);
  font-size: 1.2rem;
  font-weight: bold;
}
input{
  padding: 1rem;
  border: 0;
  border-radius: .5rem;
  margin: .5rem 0;
}
.btn{
  margin: 1rem 0;
  border: 0;
  background: var(--blue);
  padding: 1rem;
  border-radius: .5rem;
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  min-width: 20rem;
  &:disabled{
    opacity: .5;
  }
}