@import '../../../assets/styles/media-queries';
.socials{
  .socialsContent{
    display: flex;
    flex-direction: column;
    @include md{
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    @include sm{
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    @include xs{
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .socialsElem{
      width: 5rem;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: relative;
      margin-bottom:.2rem;
      border-top-right-radius: 100%;
      border-bottom-right-radius: 100%;
      .socialsElemImg{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--light);
        padding: .8rem .6rem;
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
        img{
          max-height: 100%;
        }
        i{
          color:var(--dark);
          font-size: 2.5rem;
        }
      }
      .queu{
        position: absolute;
        width: 100%;
        height: 100%;  
        background: var(--light);  
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
      }
      @include md{
        margin: 0;        
        flex: 1;
        border-top-right-radius: 0%;
        border-bottom-right-radius: 0%;
        .socialsElemImg{
          background: transparent;
          border-top-right-radius: 0%;
          border-bottom-right-radius: 0%;
          i{
            color: var(--light);
          }
        }
        .queu{
          border-top-right-radius: 0%;
          border-bottom-right-radius: 0%;
          background: transparent;
        }
      }
      @include sm{
        margin: 0;        
        flex: 1;
        border-top-right-radius: 0%;
        border-bottom-right-radius: 0%;
        .socialsElemImg{
          background: transparent;
          border-top-right-radius: 0%;
          border-bottom-right-radius: 0%;
          i{
            color: var(--light);
          }
        }
        .queu{
          border-top-right-radius: 0%;
          border-bottom-right-radius: 0%;
          background: transparent;
        }
      }
      @include xs{
        margin: 0;        
        flex: 1;
        border-top-right-radius: 0%;
        border-bottom-right-radius: 0%;
        .socialsElemImg{
          background: transparent;
          border-top-right-radius: 0%;
          border-bottom-right-radius: 0%;
          i{
            color: var(--light);
          }
        }
        .queu{
          border-top-right-radius: 0%;
          border-bottom-right-radius: 0%;
          background: transparent;
        }
      }
      &:hover{
        .socialsElemImg{
          transition: all ease-in-out .2s;
          transform: translateX(2rem);
          @include md{
            transform: none;
          }
          @include sm{
            transform: none;
          }
          @include xs{
            transform: none;
          }
        }
      }
    }  
  }
}  