@import '../../../../../assets/styles/media-queries';
.footer{
  font-size: 1.6rem;
  max-width: 50rem;
  margin: auto;
  p{
    font-family: 'open_sanslight';
    text-align: center;
    margin-bottom: 4rem;
    color: var(--white);
  }
  @include xs{
    max-width: 25rem;
    font-size: 1.4rem;
  }
}
