@import '../../../../../../assets/styles/media-queries';
.cubeanimation{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .titre{
    margin-top: 2rem;
  }
  @include xs{
    .titre{
      margin-top: 4rem;
    }    
  }
  .cube{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .card{
      width: 40rem;
      margin: auto;
      position: relative;
      @include xs{
        margin: 4rem auto;
        width: 30rem;
      }
    }
  }  
}