.cardBody{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--gray);
  padding: 0;
  margin: 0;

  li{
    padding: 1rem 0;
    div{
      font-size: 2rem;
      letter-spacing: 0.1rem;
      &:hover{
        text-decoration: none;
        color: var(--text);
        opacity: 0.6;
      }
    }
  }
}