* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.annuler-x {
  position: relative;
  cursor: pointer;
  transition: all 0.4s; }
  .annuler-x:hover {
    background: var(--blue);
    color: var(--pink); }
  .annuler-x::after {
    content: 'X';
    position: absolute;
    right: 0.5rem;
    width: 1rem;
    height: 1rem;
    color: var(--white);
    border-radius: 0.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; }

.through {
  position: relative; }
  .through::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 0.2rem;
    background: var(--text); }

.quote {
  font-style: italic; }
  .quote::before {
    content: "\AB";
    padding: 0 0.5rem; }
  .quote::after {
    content: "\BB";
    padding: 0 0.5rem; }

.hidden {
  display: none; }

.underline-2 {
  max-width: 2rem;
  margin: 2rem auto;
  height: 0.1rem;
  background: var(--white); }

.underline-4 {
  max-width: 4rem;
  margin: 2rem auto;
  height: 0.1rem;
  background: var(--white); }

.underline-6 {
  display: inline-block;
  min-width: 6rem;
  margin: 1.5rem auto;
  height: 0.1rem;
  background: var(--pink); }

.underline-8 {
  max-width: 8rem;
  margin: 2rem auto;
  height: 0.1rem;
  background: var(--white); }

/* text */
.title {
  letter-spacing: 0.2rem;
  font-weight: 700;
  font-size: 2.4rem; }
  .title-portfolio {
    background: linear-gradient(to top, var(--white) 40%, var(--pink) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.text-hint {
  color: var(--text);
  font-size: 1.6rem;
  font-weight: 100; }

/* buttons */
.btn {
  border: 0;
  margin: 2rem 0;
  outline: 0;
  cursor: pointer; }
  .btn-primary {
    background: var(--blue-light);
    color: var(--white);
    padding: 0.5rem 2rem;
    font-weight: 700; }
  .btn-primary-portfolio {
    background: var(--white);
    font-weight: 700;
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    border-top-left-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
    padding: 1rem 2rem;
    color: var(--blue);
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15); }
  .btn-secondary-portfolio {
    background: var(--green);
    color: var(--white);
    font-weight: 400;
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
    border-top-left-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
    padding: 0.5rem 1rem; }
  .btn-primary-berberes {
    background: var(--white);
    color: var(--orange);
    padding: 2rem 1rem;
    font-weight: 700; }
  .btn-secondary-berberes {
    background: var(--text);
    color: var(--white);
    padding: 1.5rem 1rem;
    font-weight: 700; }
  .btn-det {
    background: linear-gradient(to top, var(--pink) 50%, var(--background) 50%);
    padding: 1rem; }
  .btn-small {
    outline: 0;
    background: var(--green);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: var(--white); }
  .btn-small-white {
    outline: 0;
    background: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: var(--text); }

.hidden {
  display: none; }

.box-background {
  background: var(--sidebar); }

.shadow {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15); }

.gradien-vp {
  background: linear-gradient(to bottom right, white 50%, #f1f2f6 50%); }

/*
******* icon ******
*/
.fa-html5 {
  color: #dd4b25;
  font-size: 2.5rem; }

.fa-css3-alt {
  color: #1a6fb4;
  font-size: 2.5rem; }

.fa-js {
  color: #efd81d;
  font-size: 2.5rem; }

.fa-node-js {
  color: #74ac5e;
  font-size: 2.5rem; }

.fa-git-alt {
  color: #e84e31;
  font-size: 2.5rem; }

/*
******* chargements ... ******
*/
.en-cours {
  animation-name: chargement;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  opacity: 1; }

@keyframes chargement {
  from {
    opacity: 1;
    transform: translateY(-20px); }
  to {
    opacity: 0.5; } }

html {
  font-size: 62.5%; }

body {
  color: var(--text);
  font-family: var(--font-family); }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 1rem 0;
  font-family: var(--font-family-title); }

p {
  margin: 1rem 0; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: var(--text); }

img {
  max-width: 100%; }

/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
/* screen animation */
@keyframes path-screen {
  0% {
    d: path("M0"); }
  20% {
    d: path("M0,29.697v246.015v15v89"); }
  40% {
    d: path("M0,29.697v246.015v15v89.091h190.997v80.5h-74.608v15h272.223v-15h-74.608v-80.5H505v-89"); }
  60% {
    d: path("M0,29.697v246.015v15v89.091h190.997v80.5h-74.608v15h272.223v-15h-74.608v-80.5H505v-89.091v-15   V29"); }
  80% {
    d: path("M0,29.697v246.015v15v89.091h190.997v80.5h-74.608v15h272.223v-15h-74.608v-80.5H505v-89.091v-15   V29.697H0z M299"); }
  100% {
    d: path("M0,29.697v246.015v15v89.091h190.997v80.5h-74.608v15h272.223v-15h-74.608v-80.5H505v-89.091v-15   V29.697H0z M299.003") !important; } }

/* underline */
@keyframes underline {
  0% {
    width: 60%; }
  50% {
    width: 80%; }
  100% {
    width: 100%; } }

/* progressions */
@keyframes progression-html {
  /*   form{
    grid-row: 4 / 5;
  }
  to{
    grid-row: 1 / 5;
    background: var(--green);
  } */
  0% {
    grid-row: 5 / 6;
    background: var(--red); }
  25% {
    grid-row: 4 / 6;
    background: var(-red-light); }
  50% {
    grid-row: 3 / 6;
    background: var(--orange); }
  75% {
    grid-row: 2 / 6;
    background: var(--orange-light); }
  100% {
    grid-row: 1 / 6;
    background: var(--green-light); } }

@keyframes progression-css {
  0% {
    grid-row: 5 / 6;
    background: var(--red); }
  33% {
    grid-row: 4 / 6;
    background: var(--orange); }
  66% {
    grid-row: 3 / 6;
    background: var(--orange-light); }
  100% {
    grid-row: 2 / 6;
    background: var(--green-light); } }

@keyframes progression-js {
  0% {
    grid-row: 5 / 6;
    background: var(--red); }
  50% {
    grid-row: 4 / 6;
    background: var(-red-light); }
  100% {
    grid-row: 3 / 6;
    background: var(--yellow); } }

@keyframes progression-node {
  0% {
    grid-row: 5 / 6;
    background: var(--red); }
  100% {
    grid-row: 4 / 6;
    background: var(--orange); } }

@keyframes progression-git {
  0% {
    grid-row: 5 / 6;
    background: var(--red); }
  100% {
    grid-row: 4 / 6;
    background: var(--orange); } }

/* arte */
@keyframes glissement-mot {
  0% {
    opacity: 0;
    transform: translateY(4.5rem); }
  50% {
    opacity: 1;
    transform: translateY(9rem); }
  100% {
    opacity: 0;
    transform: translateY(13.5rem); } }

@keyframes glissement-mot-last {
  0% {
    opacity: 0;
    transform: translateY(4.5rem); }
  100% {
    opacity: 1;
    transform: translateY(9rem); } }

@keyframes gliss-mot {
  0% {
    opacity: 1; }
  100% {
    transform: translateY(7rem); } }

@keyframes scale-mot {
  from {
    opacity: 1;
    margin: 0; }
  to {
    font-size: 7rem; } }

@keyframes display-logo {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes glissement-progression-one {
  0% {
    opacity: 0; }
  50% {
    transform: translateY(4.5rem);
    opacity: 1; }
  100% {
    opacity: 1;
    transform: translateY(4.5rem); } }

@keyframes glissement-progression-last {
  0% {
    opacity: 1; }
  100% {
    transform: translateY(4.5rem);
    opacity: 1; } }

@keyframes glissement-progression {
  0% {
    opacity: 0; }
  50% {
    transform: translateY(4.5rem);
    opacity: 1; }
  100% {
    transform: translateY(9rem);
    opacity: 1; } }

@keyframes text-animation {
  0% {
    opacity: 1;
    font-size: 1rem; }
  100% {
    transform: scale(2);
    opacity: 1; } }

@keyframes rotate-picture {
  0% {
    opacity: 0;
    z-index: 0; }
  100% {
    opacity: 1;
    transform: rotate(-360deg) scale(5) translateY(-0.5rem); } }

@keyframes effet-transition {
  0% {
    opacity: 1; }
  100% {
    transform: scale(1.2);
    opacity: 1; } }

@keyframes glissement-x-60 {
  0% {
    opacity: 1; }
  100% {
    transform: translateX(-55rem); } }

@keyframes glissement-x-50 {
  0% {
    opacity: 1; }
  100% {
    transform: translateX(-50rem); } }

@keyframes glissement-x-40 {
  0% {
    opacity: 1; }
  100% {
    transform: translateX(-40rem); } }

@keyframes glissement-x-30 {
  0% {
    opacity: 1; }
  100% {
    transform: translateX(-40rem); } }

@keyframes glissement-x-25 {
  0% {
    opacity: 1; }
  100% {
    transform: translateX(-25rem); } }

@keyframes glissement-x-20 {
  0% {
    opacity: 1; }
  100% {
    transform: translateX(-20rem); } }

@keyframes glissement-x-15 {
  0% {
    opacity: 1; }
  100% {
    transform: translateX(-15rem); } }

@keyframes glissement-x-10 {
  0% {
    opacity: 1; }
  100% {
    transform: translateX(-10rem); } }

@keyframes fadeout {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0; } }

@keyframes glissement-progress {
  0% {
    opacity: 1; }
  100% {
    grid-column: 6 / 7; } }

@keyframes progress-html {
  0% {
    grid-row: 8 / 9; }
  20% {
    grid-row: 7 / 9; }
  40% {
    grid-row: 6 / 9; }
  60% {
    grid-row: 5 / 9; }
  80% {
    grid-row: 4 / 9; }
  100% {
    grid-row: 3 / 9;
    background: var(--green); } }

@keyframes progress-css {
  0% {
    grid-row: 8 / 9; }
  25% {
    grid-row: 7 / 9; }
  50% {
    grid-row: 6 / 9; }
  75% {
    grid-row: 5 / 9; }
  100% {
    grid-row: 4 / 9;
    background: var(--blue-light); } }

@keyframes progress-git {
  0% {
    grid-row: 8 / 9; }
  50% {
    grid-row: 7 / 9; }
  100% {
    grid-row: 6 / 9;
    background: var(--orange); } }

@keyframes progress-js {
  0% {
    grid-row: 8 / 9; }
  100% {
    grid-row: 7 / 9;
    background: var(--orange-light); } }

@keyframes progress-node {
  0% {
    grid-row: 8 / 9; }
  100% {
    grid-row: 8 / 9;
    background: var(--red); } }

@keyframes skill-picture-html {
  0% {
    grid-column: 2 / 3; }
  100% {
    grid-column: 3 / 4; } }

@keyframes skill-picture-css {
  0% {
    grid-column: 2 / 3; }
  50% {
    grid-column: 3 / 4; }
  100% {
    grid-column: 4 / 5; } }

@keyframes skill-picture-git {
  0% {
    grid-column: 2 / 3; }
  50% {
    grid-column: 3 / 4; }
  75% {
    grid-column: 4 / 5; }
  100% {
    grid-column: 5 / 6; } }

@keyframes skill-picture-js {
  0% {
    grid-column: 2 / 3; }
  25% {
    grid-column: 3 / 4; }
  50% {
    grid-column: 4 / 5; }
  75% {
    grid-column: 5 / 6; }
  100% {
    grid-column: 6 / 7; } }

@keyframes skill-picture-js {
  0% {
    grid-column: 2 / 3; }
  25% {
    grid-column: 3 / 4; }
  50% {
    grid-column: 4 / 5; }
  75% {
    grid-column: 5 / 6; }
  100% {
    grid-column: 6 / 7; } }

@keyframes skill-picture-node {
  0% {
    grid-column: 2 / 3; }
  20% {
    grid-column: 3 / 4; }
  40% {
    grid-column: 4 / 5; }
  60% {
    grid-column: 5 / 6; }
  80% {
    grid-column: 6 / 7; }
  100% {
    grid-column: 7 / 8; } }

@keyframes gliss-skill-titre {
  0% {
    transform: translateY(3rem); }
  100% {
    transform: translateY(6rem); } }

@keyframes rotate-skill-picture {
  0% {
    opacity: 0; }
  50% {
    opacity: 1;
    width: 40%;
    transform: rotate(180deg); }
  100% {
    opacity: 1;
    width: 100%;
    transform: rotate(360deg); } }

@keyframes skill-titre {
  0% {
    opacity: 1; }
  50% {
    transform: translateY(-8rem);
    opacity: 1; }
  100% {
    transform: translateY(2rem);
    opacity: 1;
    z-index: 3; } }

@keyframes display-skill {
  0% {
    z-index: -2; }
  100% {
    z-index: 2; } }

@keyframes display-contact {
  0% {
    z-index: -3;
    opacity: 0; }
  100% {
    z-index: 2; } }

@keyframes display-introduction {
  0% {
    z-index: 0; }
  100% {
    z-index: 2; } }

@keyframes display-resume {
  0% {
    z-index: -4; }
  100% {
    z-index: 4; } }

@keyframes carousel-slide {
  0% { }
  50% {
    transform: translateX(-80rem); }
  100% {
    transform: translateX(-160rem); } }

@keyframes first-elem-carousel {
  0% {
    opacity: 1; }
  100% {
    transform: translateX(-80rem); } }

@keyframes justify-content {
  0% {
    justify-content: start; }
  20% {
    justify-content: center; }
  40% {
    justify-content: end; }
  60% {
    justify-content: space-around; }
  80% {
    justify-content: space-evenly; }
  100% {
    justify-content: space-between; } }

@keyframes justify-start {
  0% {
    z-index: 0; }
  50% {
    z-index: 1; }
  100% {
    z-index: 0; } }

@keyframes justify-center {
  0% {
    z-index: 0; }
  50% {
    z-index: 1; }
  100% {
    z-index: 0; } }

@keyframes justify-end {
  0% {
    z-index: 0; }
  50% {
    z-index: 1; }
  100% {
    z-index: 0; } }

@keyframes justify-space-around {
  0% {
    z-index: 0; }
  50% {
    z-index: 1; }
  100% {
    z-index: 0; } }

@keyframes justify-space-evenly {
  0% {
    z-index: 0; }
  50% {
    z-index: 1; }
  100% {
    z-index: 0; } }

@keyframes justify-space-between {
  0% {
    z-index: 0; }
  50% {
    z-index: 1; }
  100% {
    z-index: 0; } }

@keyframes justify-items {
  0% {
    justify-items: stretch; }
  50% {
    justify-items: start; }
  75% {
    justify-items: center; }
  100% {
    justify-items: end; } }

@keyframes justify-items-stretch {
  0% {
    z-index: 0; }
  50% {
    z-index: 1; }
  100% {
    z-index: 0;
    opacity: 0; } }

@keyframes justify-items-start {
  0% {
    z-index: 0; }
  50% {
    z-index: 1; }
  100% {
    z-index: 0;
    opacity: 0; } }

@keyframes justify-items-center {
  0% {
    z-index: 0; }
  50% {
    z-index: 1; }
  100% {
    z-index: 0;
    opacity: 0; } }

@keyframes justify-items-end {
  0% {
    z-index: 0; }
  50% {
    z-index: 1; }
  100% {
    z-index: 0;
    opacity: 0; } }

@keyframes auto-flow {
  0% {
    grid-auto-flow: row dense; }
  100% {
    grid-auto-flow: column dense; } }

@keyframes load {
  0% {
    border-left: 1px solid var(--white); }
  25% {
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--white); }
  50% {
    border-right: 1px solid var(--white);
    border-top: 1px solid var(--white); }
  75% {
    border-bottom: 1px solid var(--white);
    border-right: 1px solid var(--white); }
  100% {
    border: 0; } }

@keyframes img-profil-display {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes html-profil-glissment {
  0% {
    grid-column: 7 / 8; }
  25% {
    grid-column: 6 / 7; }
  50% {
    grid-column: 5 / 6; }
  75% {
    grid-column: 4 / 5; }
  100% {
    grid-column: 3 / 4;
    transform: rotate(360deg); } }

@keyframes css-profil-glissment {
  0% {
    grid-column: 7 / 8; }
  50% {
    grid-column: 6 / 7; }
  75% {
    grid-column: 5 / 6; }
  100% {
    grid-column: 4 / 5; } }

@keyframes git-profil-glissment {
  0% {
    grid-column: 7 / 8; }
  50% {
    grid-column: 6 / 7; }
  100% {
    grid-column: 5 / 6; } }

@keyframes js-profil-glissment {
  0% {
    grid-column: 7 / 8; }
  100% {
    grid-column: 6 / 7; } }

@keyframes fadeout-75 {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

body {
  font-size: 2rem; }

.container {
  min-height: 100vh;
  background: url(../img/natural-wooden-background.jpg) no-repeat;
  background-size: cover;
  background-position: center center; }

.boite {
  max-width: 50rem;
  max-height: 50rem;
  margin: auto;
  position: relative; }
  .boite img {
    filter: blur(2px); }
  .boite .contenu {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .boite .contenu h1 {
      margin: 4rem 0;
      color: var(--white);
      letter-spacing: 0.5rem;
      font-size: 2rem; }
    .boite .contenu p {
      margin: 2rem 0;
      text-align: center; }

.boite-grid {
  max-width: 80rem;
  margin: 0 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-items: stretch;
  align-items: end; }
  .boite-grid img {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    filter: blur(2px); }
  .boite-grid .contenu {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    z-index: 1;
    text-align: center;
    color: var(--white); }
    .boite-grid .contenu .contenu-text {
      padding: 2rem 0; }
      .boite-grid .contenu .contenu-text h1 {
        letter-spacing: 0.5rem;
        font-size: 2rem;
        opacity: 0; }
      .boite-grid .contenu .contenu-text p {
        font-size: 1.2rem;
        margin: 0;
        letter-spacing: 0.2rem;
        font-weight: 100; }
      .boite-grid .contenu .contenu-text .job {
        margin-bottom: 2rem;
        font-size: 0.8rem;
        color: var(--green); }
  .boite-grid .barre-info {
    background: var(--blue);
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    z-index: 1;
    opacity: 0.6;
    padding: 1rem;
    padding: 2rem;
    position: relative; }
    .boite-grid .barre-info p {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      color: var(--white);
      font-size: 1.2rem;
      line-height: 2rem;
      max-width: 80rem;
      max-height: 2rem;
      overflow: hidden;
      opacity: 0;
      animation: display-barre-info 1s ease; }
      .boite-grid .barre-info p:nth-child(1) {
        animation: fadeout-75 2s ease; }
      .boite-grid .barre-info p:nth-child(2) {
        animation: fadeout-75 2s ease 2s; }
      .boite-grid .barre-info p:nth-child(3) {
        animation: fadeout-75 2s ease 4s; }
      .boite-grid .barre-info p:nth-child(4) {
        animation: fadeout-75 2s ease 6s; }
      .boite-grid .barre-info p:nth-child(5) {
        animation: fadeout-75 2s ease 8s; }
      .boite-grid .barre-info p:nth-child(6) {
        animation: fadein 2s ease 10s forwards; }
