:root {
  --font-family: 'Source Sans Pro', sans-serif;
  --font-family-title:'Oswald', sans-serif;
  --font-family-secondary: 'Shadows Into Light', cursive;
  --font-family-titre-dima:'Dancing Script', cursive;
  --font-family-ledor:'Montserrat', sans-serif;
  --font-family-youtube:'Roboto', sans-serif;
  --ledor: 'Montserrat', sans-serif;
  --ledor-secondary: 'Long Cang', cursive;
  --text:#333;
  --red-light:#ff6b6b;
  --red:#ee5253;
  --green:#10ac84;
  --green-light:#1dd1a1;
  --green-faded:#81ecec;
  --blue:#1977d2;
  --blue-light:#1cbdfd;
  --blue-faded:#60a3bc;
  --gray:#f1f2f6;
  --gray-light:#f1f2f6;
  --gray-dark:#dfe6e9;
  --dark:#2f3542;
  --dark-light:#57606f;
  --yellow:#fed330;
  --yellow-light:#f7b731;
  --orange-light:#fd9644;
  --white:#ffffff;
  --text-light:rgba(0,0,0,.5);
  --pink:#ebd4d4;
  --brown:#d5ae69;
  --brown-light:#d4ac66;
  --orange:#fad390;
  --dark: #343434;
  --white:#fff;
  --background:#faf4f4;
  --noir:#000;
  --hint:#aaa;
  --linkedin:#2779aa;
  --twitter:#1c9cea;
  --facebook:#4064ac;
  --dark:#011741;
  --sidebar:#f5f5f5;
  --html:#dd4b26;
  --css:#254bdd;
  --youtube-background:#191919;
  --youtube-navbar:#212121;
  --youtube-navbar-light:#323232;
  --youtube-icon:#90908F;
  --youtube-red:#cc0100; }
