@import '../../../../../assets/styles/media-queries';

.about{
  color: var(--white);
  .aboutContent{
    .title{
      font-family: 'be_vietnambold';
      font-size: 4rem;
      letter-spacing: .2rem;
      line-height: 5rem;
      margin-bottom: 2rem;
      text-align: center;
      @include md{
        font-size: 3rem;
        margin-bottom: 0rem;
      }
      @include sm{
        font-size: 3rem;
        margin-bottom: 0rem;
      }
      @include xs{
        font-size: 2.4rem;
        margin-bottom: 0rem;
      }
    }
    .text{
      font-family: 'open_sanslight';
      font-size: 2rem;
      line-height: 2.8rem;
      max-width: 45rem;
      text-align: center;
      strong{
        font-family: 'MYRIADPRO-REGULAR', sans-serif;
      }
      @include md{
        font-size: 1.5rem;
        line-height: 2.6rem;
      }
      @include sm{
        font-size: 1.5rem;
        line-height: 2.6rem;
      }
      @include xs{
        font-size: 1.2rem;
        line-height: 2rem;
      }
    }
    .lienUtiles{
      font-family: 'open_sansbold';
      button{
      font-size: 2rem;
      line-height: 2rem;
      margin: 3rem 1rem;
      background: var(--bg-btn);
      border: .1rem solid var(--bg-btn);
      border-radius: 1rem !important;
      padding: 1.5rem 2.4rem;
      @include md{
        font-size: 1.4rem;
        line-height: 1.4rem;
        padding: 1rem 1.9rem;
        margin: 2rem .5rem;
      }
      @include sm{
        font-size: 1.4rem;
        line-height: 1.4rem;
        padding: 1rem 1.9rem;
        margin: 2rem .5rem;
      }
      @include xs{
        font-size: 1rem;
        line-height: 1rem;
        padding: 1rem 1.9rem;
        margin: 2rem .5rem;
      }
      }
    }
  }
}