@import '../../../../assets/styles/media-queries';
.articles{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin:10rem 1rem 0 1rem;
  @include xs{
    margin: 7rem 1rem 0 1rem;
  }
  .articlesContent{
    @include sm{
      margin: 5rem 8rem;
    }
    @include xs{
      margin: 5rem 3rem;
    }
    .articlesText{
      line-height: 4rem;
      h1{
        font-size: 6rem;
      }
      p{
        letter-spacing: 0.1rem;
        font-size: 2rem;
        font-weight: 300;
        margin: 0 0 2rem 0;
        color: var(--color-icon);

      }
      @include xl{
        line-height: 3rem;
        h1{
          font-size: 4rem;
        }
        p{
          font-size: 1.8rem;
        }
      }
      @include l{
        line-height: 3rem;
        h1{
          font-size: 4rem;
        }
        p{
          font-size: 1.6rem;
        }
      }  
      @include md{
        line-height: 2.2rem;
        h1{
          font-size: 3.5rem;
          margin: 2rem 0;
        }
        p{
          font-size: 1.6rem;
        }
      } 
      @include sm{
        line-height: 2rem;
        h1{
          font-size: 3.2rem;
          margin: 2rem 0;
        }
        p{
          font-size: 1.4rem;
          font-weight: 400;
          margin: 1rem 0;
        }
      }    
      @include xs{
        margin-top: 4rem;
        line-height: 2rem;
        h1{
          font-size: 3.2rem;
          margin: 2rem 0;
        }
        p{
          font-size: 1.4rem;
          font-weight: 400;
          margin: 1rem 0;
        }
      }    
    }  
    .articlesList{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
      gap: 2rem;
      margin-bottom: 5rem;
      @include xxl{
        grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
      }  
      @include xl{
        grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
      }
      @include l{
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
      }  
      @include md{
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        gap: 1rem;
      }   
      @include sm{
        grid-template-columns: 1fr;
        gap: 1rem;
      }  
      @include xs{
        grid-template-columns: 1fr;
        gap: 1rem;
      }
      .articlesElem{
        display: flex;
        flex-direction: column;
        box-shadow: var(--shadow);   
        border: 0.1rem solid transparent;
        border-radius: 0.1rem; 
        .articlesElemTitre{
          background: var(--background);
          position: relative;
          padding:0.5rem;
          i{
            display: block;
            width: 1.2rem;
            height: 1.2rem;
            background-color: var(--red);
            border-radius: 100%;  
            position: relative;
            &::before{
              content: "";
              position: absolute;
              right: -1.4rem;
              width: 100%;
              height: 100%;
              background-color: var(--yellow);
              border-radius: 100%;  
            }
            &::after{
              content: "";
              position: absolute;
              right: -2.8rem;
              width: 100%;
              height: 100%;
              background-color: var(--green);
              border-radius: 100%;  
            } 
          } 
          p{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0;
            font-size: 1rem;
            font-weight: 700;
            color: var(--text);
            text-align: center;
          }    
        }
        .articlesElemImg{
          flex: auto;
          position: relative;
          background: var(--gray);
          .langList{
            position: absolute;
            width: 100%;
            top: 0;
            bottom: 0;
            display: flex;
            flex-flow: row wrap;
            //align-items: center;
            align-content: center;
            justify-content: center;
            overflow: hidden;
            padding: 10rem 0;
            @include xl{
              padding: 7rem 0;
            }
            @include l{
              padding: 6rem 0;
            }  
            @include md{
              padding: 5rem 0;
            }
            @include sm{
              padding: 7rem 0;
            }
            @include xs{
              padding: 8rem 0;
            }  
            li{
                margin: 0.2rem;
                font-size: .8rem;
                font-weight: 700;
                border: 0.1rem solid var(--blue);
                padding: 0 1rem;
                color: var(--white);
                background: var(--blue);
                border-radius: 0.5rem;
                text-align: center;
                opacity: 0;
                @include l{
                  font-size: .8rem;
                  padding: 0.2rem 0.6rem;
                }
                @include md{
                  font-size: .8rem;
                  padding: 0.1rem 0.2rem;
                }
                &:last-child{
                  position: absolute;
                  bottom: 1rem;
                  max-width: 6rem;
                  margin: auto;
                  font-size: .6rem;
                  background: var(--gray);
                  color: var(--text);
                  border: none;
                  font-weight: 700;
                  @include md{
                    bottom: 0;
                    max-width: 4rem;
                  }  
                  @include l{
                    bottom: 0;
                    max-width: 4rem;
                  }
                }
              }
            } 
            &::before{
              content: "";
              width: 100%;
              height: 0%;
              display: block;
              position: absolute;
              background: var(--text);
              opacity: 0.6;
              z-index: 0;
              filter: brightness(0.4);
            }
            &:hover{
              &::before{
                transition: all ease 0.6s;
                height: 100%;
              }
              .langList{
                transition: all ease 0.4s;
              }
            }
          }
        }
      }  
      /* Animation */
      @keyframes show-lang{
        0%{
          opacity: 0;
        }50%{
          opacity: 1;
          transform: translateY(0.2rem);
        }
        100%{
          transform: translateY(0.4px);
          opacity: 1;
        }
      }
      @keyframes show-lang-last{
        0%{
          opacity: 0;
        }50%{
          opacity: 1;
          transform: translateY(-.2rem);
        }
        100%{
          transform: translateY(-.4rem);
          opacity: 1;
        }
      }    
    }
  } 
