@import '../../../assets/styles/media-queries';
/* icon direction */

.icon{
  width: 8rem;
  height: 8rem;
  @include xs{
    display: none;
  }
  @include sm{
    display: none;
  }
  .iconDirection{
    cursor: pointer;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
    .barBottom{
      width: 100%;
      height: 100%;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      transition: all 0.2s;
      &::after{
        content: "";
        position: absolute;
        width: 50%;
        height: 0.1rem;
        border: 0.1rem solid var(--bg-dark);
        border-bottom-left-radius: 1rem;
        background: var(--bg-dark);
        filter: brightness(.8);
      
      }
    }
    .barTop{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      //border-radius: 100%;
      transition: all 0.2s;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      &::after{
        content: "";
        display: block;
        width: 0.1rem;
        height: 50%;
        border: 0.1rem solid var(--bg-dark);
        background: var(--bg-dark);
        border-bottom-left-radius: 1rem;
        filter: brightness(.8);

  
      }
    }
    .iconDirectionTitre{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      color: var(--bg-dark);
      font-family: 'myriadpro-regular';
      filter: brightness(1.2);
      font-size: 2rem; 
      transform: rotate(-45deg);
      opacity: 0;
      transition: all 0.2s ease;

      p{
        margin: 0;
        padding: 0;
      }
    }
    &:hover{
      .iconDirectionTitre{
        transition: all 0.2s ease;
        transform: rotate(-45deg) translateX(10rem);
        opacity: 1;
      }
      .barTop{
        transition: all 0.2s;
        transform: rotate(-15deg);
      }
      .barBottom{
        transition: all 0.2s;
        transform: rotate(15deg);

      }  
    }  
  }  

}
.rotate45{
  animation: rotate45 .2s linear forwards;
  &::after{
    animation: translateY10 .2s ease .4s forwards;
  }
}
.rotateinverse45{
  animation: rotateinverse45 .2s linear forwards;
  &::after{
    animation: translateX10 .2s ease .4s forwards;
  }
}
.translateText{
  animation: translateText .2s ease .6s forwards;

}

@keyframes translateText{
  0%{
    transform: translateX(0);
  }100%{
    transform: translateX(-15rem);
  }
}
@keyframes rotate45{
  0%{
    transform: rotate(0deg);
  }100%{
    transform: rotate(-45deg);
  }
}
@keyframes rotateinverse45{
  0%{
    transform: rotate(0deg);
  }100%{
    transform: rotate(45deg);
  }
}
@keyframes translateX10{
  0%{
    transform: translateY(0);
  }100%{
    transform: translateY(10rem);
  }
}
@keyframes translateY10{
  0%{
    transform: translateX(0);
  }100%{
    transform: translateX(-10rem);
  }
}