@import '../../../assets/styles/media-queries';

.latest{
  position: fixed;
  right: 0;
  top: 22.5rem;
  min-width: 45rem;
  background: var(--bg-latest);
  //border: 0.1rem solid var(--white);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.3rem;
  padding: 1rem 0;
  box-shadow: var(--shadow);
  transform: rotate(45deg) translateY(-18rem);
  cursor: pointer;
  @include xs{
    transform: rotate(45deg) translateY(-21rem);
    font-size: 1.1rem;
  }
  @include sm{
    transform: rotate(45deg) translateY(-22rem);
    font-size: 1.1rem;
  }
  &:hover{
    opacity: 0.9;
  }
} 