@import '../../../assets/styles/media-queries';
@import '../../../assets/styles/animations';
.burger{
  position: fixed;
  top: 0;
  right: 0;
  margin:3rem 3rem;
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  @include sm{
    width: 5rem;
    height: 5rem;
    top: calc(100vh - 7rem);
    border-radius: 100%;
    background: var(--bg-light);
    filter: blur(.8);
    margin: 0 2rem 0 0;

  }
  @include xs{
    width: 5rem;
    height: 5rem;
    top: calc(100vh - 7rem);
    border-radius: 100%;
    background: var(--bg-light);
    filter: blur(.8);
    margin: 0 2rem 0 0;

  }
  cursor: pointer;
  .dropdownToggle{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    i{
      height: 0.2rem;
      //border: .1rem solid red;
      background:var(--bg-light);
      @include sm{
        background:var(--white);
      }  
      @include xs{
        background:var(--white);
      }
      filter: brightness(.8);
      &:nth-child(2){
        margin: 1rem 0;
        transition: all .1s ease .1s;
      }
      &:nth-child(1){
        transition: all 1s ease;
      }
      &:nth-child(3){
        //transition: all 1s ease;
        //transform: translateX(5rem);
        //animation: translateBarTop 1s ease 1s;
      }
    }
  }
  
}
