@import '../../../assets/styles/media-queries';
.pageAbout{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  @include xs{
    margin: 0 2rem;
  }
  h1{
    font-size: 3.6rem;
    text-align: center;
    margin: 1rem 0;
    strong{
      color: var(--noir);
    }
  }
  p{
    font-size: 2rem;
    text-align: center;
    max-width: 40rem;
    font-weight: 100;
    line-height: 3rem;
  }  
   @include l{
    h1{
      font-size: 3rem;
    }
    p{
      font-size: 1.6rem;
    }
  }  
  @include md{
    h1{
      font-size: 2.8rem;
    }
    p{
      font-size: 1.6rem;
    }
  }  
  @include sm{
    h1{
      font-size: 3rem;
    }
    p{
      font-size: 1.8rem;
    }
  }     
  @include xs{
    h1{
      font-size: 2.4rem;
    }
    p{
      font-size: 1.6rem;
      letter-spacing: .1rem;
    }
  }   
}