@import '../../../assets/styles/media-queries';
.pageAbout{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  position: relative;
  @include xs{
    margin: 0 2rem;
  }
  h1{
    font-size: 3.2rem;
    text-align: center;
    margin: 1rem 0;
    strong{
      color: var(--dark);
    }
  }
  p{
    font-size: 1.6rem;
    text-align: center;
    max-width: 40rem;
    font-weight: 100;
    line-height: 2.4rem;
    color: var(--color-icon);
    .lang{
      color: var(--color-icon);
    }
  }  
   @include l{
    h1{
      font-size: 3rem;
    }
    p{
      font-size: 1.6rem;
    }
  }  
  @include md{
    h1{
      font-size: 2.8rem;
    }
    p{
      font-size: 1.6rem;
    }
  }  
  @include sm{
    h1{
      font-size: 3rem;
    }
    p{
      font-size: 1.8rem;
    }
  }     
  @include xs{
    h1{
      font-size: 2.4rem;
    }
    p{
      font-size: 1.2rem;
      letter-spacing: .1rem;
    }
  }   
}
.cv{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
  @include xs{
    display: none;
  }
  a{
    text-align: center;
    border: 0.1rem solid var(--red);    
    padding: 1rem 8rem;
    color: var(--white);
    border-radius: .5rem;
    font-size: 1.5rem;
    font-weight: bold;
    background: var(--red);
    cursor: pointer;
    box-shadow: var(--shadow);
  }
}