@import '../../assets/styles/media-queries';
  .about{
    flex: 1;
    background: center center / cover url(../../assets/images/home2.jpg) no-repeat;
    display: grid;
    grid-template-columns: 15rem 1fr 15rem;
    align-items: center;
    position: relative;
    @include md{
      padding: 20rem 0 0rem 0;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      align-items: stretch;
    }
    @include sm{
      padding: 14rem 0 0rem 0;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      align-items: stretch;
      background:none;
      background: #f5f5f5;
    }
    @include xs{
      padding: 14rem 0 0rem 0;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
      align-items: stretch;
      background:none;
      background: #f5f5f5;
    }
    @include xxs{
      padding: 12rem 0 0 0;
    }
    .filter{
      position: absolute;
      width: 100%;
      height: 100%;
      background: var(--primary);
      opacity: .7;
      @include sm{
        display: none;
      }
      @include xs{
        display: none;
      }
    }
    .intro{
      justify-self: center;
      @include md{
        grid-row: 1 / 2;
        justify-self: stretch;
      }  
      @include sm{
        grid-row: 1 / 2;
        justify-self: stretch;
      }
      @include xs{
        grid-row: 1 / 2;
        justify-self: stretch;
      }
      .introContent{
        display: flex;
        flex-direction: column;
        color: var(--white);
        position: relative;
        .title{
          font-family: 'be_vietnamsemibold';
          font-size: 4rem;
          letter-spacing: .2rem;
          line-height: 5.6rem;
          font-weight: 900;
          margin-bottom: 1rem;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          p{
            margin: 0 1rem 0 0;
            &:nth-child(2){
              color: var(--secondary);
            }
          }
          @include md{
            flex-direction: column;
            font-size: 5rem;
            line-height: 5rem;
            text-align: center;
            margin-bottom: 2rem;
            p:last-child{
              font-size: 3.4rem;
              line-height: 3.4rem;
            }
          }  
          @include sm{
            flex-direction: column;
            font-size: 4rem;
            line-height: 4rem;
            text-align: center;
            color: var(--primary);
            margin-bottom: 2rem;
            p:last-child{
              font-size: 2.4rem;
              line-height: 2.4rem;
            }
          }  
          @include xs{
            flex-direction: column;
            font-size: 3.5rem;
            line-height: 3.5rem;
            text-align: center;
            color: var(--primary);
            margin-bottom: 2rem;
            p:last-child{
              font-size: 2.4rem;
              line-height: 2.4rem;
            }
          }  
          @include xxs{
            font-size: 3rem;
            line-height: 3rem;
          }  
        }
        .text{
          max-width: 60rem;
          margin: 1rem 0;
          font-size: 2.2rem;
          line-height: 3.2rem;
          //font-family: 'Montserrat', sans-serif;
          strong{
            color: var(--secondary);
          }
          @include md{
            font-size: 2.2rem;
            line-height: 3.3rem;
            max-width: 60rem;
            margin: 2rem auto;
            text-align: center;
            strong{
              color: var(--white);
            }
          }
          @include sm{
            font-size: 2rem;
            line-height: 3.3rem;
            max-width: 40rem;
            margin: 2rem auto;
            text-align: center;
            color: #333;
            strong{
              color: var(--primary);
            }
          }
          @include xs{
            font-size: 1.8rem;
            line-height: 3.1rem;
            max-width: 30rem;
            margin: 2rem auto;
            text-align: center;
            color: #333;
            strong{
              color: var(--primary);
            }
          }
          @include xs{
            font-size: 1.6rem;
            line-height: 2.8rem;
          }
        }
        .lienUtiles{
          display: flex;
          justify-content: flex-start;
          @include md{
            justify-content: center;
          }
          @include sm{
            justify-content: center;
          }
          @include xs{
            justify-content: center;
          }
          .btnSecondary{
            a{
              color: var(--primary);
              text-decoration: none;
            }
          } 
          .btnSecondary, .btnPrimary{
            font-family: 'be_vietnamextrabold';
            margin: 1rem 1rem 1rem 0;
            border: none;
            border-radius: 30rem;
            font-size: 1.8rem;
            padding: 1.3rem 2.2rem;
            transition: all ease .2s;
            &:hover{
              transition: all ease .2s;
              transform: scale(1.1);
            }
            @include sm{
              padding:0.8rem 2rem;
              font-size: 1.6rem;
              margin: 2rem .5rem;
            }
            @include xs{
              padding:0.8rem 2rem;
              font-size: 1.6rem;
              margin: 2rem .5rem;
            }
            @include xxs{
              margin: 2rem .2rem;
              font-size: 1.6rem;
              padding: .8rem 1.5rem;
            }
          }  
        }
      }      
    }
    .arrow{
      justify-self: end;
      display: flex;
      align-items: center;
      z-index: 0;
      transition: all ease .4s;
      &:hover{
        transition: all ease .4s;
        span{
          color: var(--secondary);
        }
        i{
          color: var(--white);
        }
      }
      span{
        color: var(--white);
        font-family: 'open_sansbold';
        padding: 0 1rem;
        font-size: 1.2rem;
      }
      i{
        font-size: 4rem;
        color: var(--secondary);  
      }
      @include md{
        display: none;
      }  
      @include sm{
        display: none;
      }      
      @include xs{
        display: none;
      }
    }
}