@import '../../assets/styles/media-queries';
  .about{
    flex: 1;
    background: center center / cover url(../../assets/images/home2.jpg) no-repeat;
    display: grid;
    grid-template-columns: 15rem 1fr 15rem;
    align-items: center;
    position: relative;
    @include md{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
    }
    @include sm{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
    }
    @include xs{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto;
    }
    .filter{
      position: absolute;
      width: 100%;
      height: 100%;
      background: var(--primary);
      opacity: .7;
    }
    .intro{
      justify-self: center;
      @include md{
        grid-row: 1 / 2;
      }  
      @include sm{
        grid-row: 1 / 2;
      }
      @include xs{
        grid-row: 1 / 2;
      }
      .introContent{
        display: flex;
        flex-direction: column;
        color: var(--white);
        position: relative;
        .title{
          font-size: 4.2rem;
          line-height: 5.6rem;
          font-weight: 900;
          margin-bottom: 1rem;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          color: var(--light);
          p{
            margin: 0 1rem 0 0;
            font-family: 'be_vietnamextrabold';
            letter-spacing: .1rem;
            &:nth-child(2){
              color: var(--secondary);
            }
          }
          @include md{
            flex-direction: column;
            font-size: 5rem;
            line-height: 6rem;
            text-align: center;
            margin-bottom: 2rem;
            p:last-child{
              font-size: 3.4rem;
              line-height: 3.4rem;
            }
          }  
          @include sm{
            flex-direction: column;
            font-size: 4rem;
            line-height: 5rem;
            text-align: center;
            margin-bottom: 2rem;
            p:last-child{
              font-size: 2.4rem;
              line-height: 2.4rem;
            }
          }  
          @include xs{
            flex-direction: column;
            font-size: 3.5rem;
            line-height: 4.5rem;
            text-align: center;
            margin-bottom: 2rem;
            p:last-child{
              font-size: 2.4rem;
              line-height: 2.4rem;
            }
          }  
          @include xxs{
            font-size: 3rem;
            line-height: 4rem;
            margin: 2rem 0 2rem 0;
          }  
        }
        .text{
          max-width: 60rem;
          margin: 1rem 0;
          font-size: 2.2rem;
          line-height: 3.2rem;
          color: var(--light);
          strong{
            color: var(--secondary);
          }
          @include md{
            margin: 2rem auto;
            text-align: center;
          }
          @include sm{
            font-size: 2rem;
            line-height: 3.3rem;
            max-width: 40rem;
            margin: 2rem auto;
            text-align: center;
          }
          @include xs{
            font-size: 1.6rem;
            line-height: 2.8rem;
            max-width: 30rem;
            margin: 2rem auto;
            text-align: center;
          }
        }
        .lienUtiles{
          display: flex;
          justify-content: flex-start;
          @include md{
            justify-content: center;
          }
          @include sm{
            justify-content: center;
          }
          @include xs{
            justify-content: center;
          }

        }
      }      
    }
    .arrow{
      justify-self: end;
      display: flex;
      align-items: center;
      z-index: 0;
      transition: all ease .4s;
      &:hover{
        transition: all ease .4s;
        span{
          color: var(--secondary);
        }
        i{
          color: var(--white);
        }
      }
      span{
        color: var(--white);
        font-family: 'open_sansbold';
        padding: 0 1rem;
        font-size: 1.2rem;
      }
      i{
        font-size: 4rem;
        color: var(--secondary);  
      }
      @include md{
        display: none;
      }  
      @include sm{
        display: none;
      }      
      @include xs{
        display: none;
      }
    }
}