@import '../../../assets/styles/media-queries';
.dropdownMenu{
  position:fixed;
  top: -100vh;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background:var(--white);
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .dropdownMenuList{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-bottom: 3rem;
    li{
      padding: 3rem 20rem;
      display: flex;
      align-items: center;
      justify-content: center;
      @include sm{
        padding: 1rem 15rem;
      }   
      @include xs{
        padding: 1rem 10rem;
      }
      background:var(--white-light);
      opacity: 0.8;
      position: relative;
      margin: 0.5rem 0;
      &::before{
        content: "";
        width: 0%;
        height: 75%;
        background:var(--bg-dropdown-anim1);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.2;
        transition: all ease-in-out 0.4s;
        z-index: -1;
      }   
      &::after{
        content: "";
        width: 0%;
        height: 25%;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
        background: var(--bg-dropdown-anim2);
        transition: all ease-in-out 0.4s;

      } 
      position: relative; 
      a{
        font-family: 'myriadpro-regular';
        font-size: 4rem;
        padding: 2rem;
        color: var(--text);
        font-weight: 700;
        @include sm{
          font-size: 3.5rem;
        }    
        @include xs{
          font-size: 3.5rem;
        }   
      }   
      &:hover{
        &::before{
          transition: all ease-in-out 0.4s;
          width: 100%;
        }   
        &::after{
          transition: all ease-in-out 0.4s;
          transition-delay: 0.1s;
          padding-left: 100%;
        }   
      }  
    }    
  }  
  p{
    font-family: 'myriadpro-regular';
    position: absolute;
    bottom: 0;
    width: 100%;
    color: var(--dropdown-text);
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
  }
}  