@import '../../assets/styles/media-queries';
.navBar{
  font-size: 1.6rem;
  line-height: 4rem;
  font-family: 'be_vietnamextrabold';
  background: var(--primary);
  color: white;
  padding: 1rem 0;
  .logo{
    img{
      width: 8rem;
      border: .1rem solid #E2C081;
      border-radius: 100%;    
    }
    position: relative;
    &::after{
      content: "Adnen said";
      position: absolute;
      bottom: -3rem;
      font-size: 1.6rem;
      color: var(--secondary);  
    }
  }
  .navItem{
    margin: 0 0 0 1rem;
    .navLink{
      padding: .5rem 2rem ;
      border-radius: 30rem;
      letter-spacing: .2rem;
      color: var(--white);
      outline: 0;
    }  
    & > a:hover{
      background: var(--secondary);
      color: var(--primary) !important;
    }
    & > a:focus{
      background: var(--secondary);
      color: var(--primary) !important;
      border: none !important;

    }
  }
  .navbarToggler{
    background: var(--white) ;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    color: var(--white);    
  }
}
/* @include md{
  #navbarNav{
    position: absolute;
    width: 80%;
    top:0;
    left: 0;
    background: var(--white);
    z-index: 1;
    .navbar-nav .nav-item{
      padding: 1rem 0;
      border-bottom: .1rem solid var(--primary);  
      a.nav-link{
        border-radius: 0;
        color: var(--primary) !important;
      }
    } 
  }    
}
@include sm{
  #navbarNav{
    position: absolute;
    width: 80%;
    top:0;
    left: 0;
    background: var(--white);
    z-index: 1;
    .navbar-nav .nav-item{
      padding: 1rem 0;
      border-bottom: .1rem solid var(--primary);  
      a.nav-link{
        border-radius: 0;
        color: var(--primary) !important;
      }
    } 
  }    
}
@include xs{
  #navbarNav{
    position: absolute;
    width: 80%;
    top:0;
    left: 0;
    background: var(--white);
    z-index: 1;
    .navbar-nav .nav-item{
      padding: 1rem 0;
      border-bottom: .1rem solid var(--primary);  
      a.nav-link{
        border-radius: 0;
        color: var(--primary) !important;
      }
    } 
  }    
} */
