@import '../../assets/styles/media-queries';
.navBar{
  font-size: 1.6rem;
  line-height: 4rem;
  font-family: 'be_vietnamextrabold';
  padding: 4.5rem 0;
  @include sm{
    padding: 2rem 0;
  }
  @include xs{
    padding: 2rem 0;
  }
  .logo{
    img{
      max-width: 2.8rem;
      border-radius: 100%;    
    }
    position: relative;
  }
  .navItem{
    margin: 0 0 0 1rem;
    .navLink{
      padding: .5rem 2rem ;
      border-radius: 30rem;
      letter-spacing: .2rem;
      outline: 0;
      border: .1rem solid transparent;
    }  
    & > a:hover{
      border: .1rem solid var(--secondary);
    }
  }
  .navbarToggler{
    width: 5rem;
    height: 5rem;
    border: none;
    .navbarTogglerIconDark{
      height: .1rem;
      background: var(--dark);
      display: block;
      position: relative;
      &::before, &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        background:var(--dark);
      }
      &::before{
        top: 1.1rem;
      }
      &::after{
        bottom: 1.1rem;
      }
    }
    .navbarTogglerIconLight{
      height: .1rem;
      background: var(--light);
      display: block;
      position: relative;
      &::before, &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        background:var(--light);
      }
      &::before{
        top: 1.1rem;
      }
      &::after{
        bottom: 1.1rem;
      }
    }
  }
}

