@import '../../assets/styles/media-queries';
.navBar{
  font-size: 1.6rem;
  line-height: 4rem;
  font-family: 'be_vietnamextrabold';
  background: var(--primary);
  color: white;
  padding: 4.5rem 0;
  @include sm{
    padding: 2rem 0;
  }
  @include xs{
    padding: 2rem 0;
  }
  .logo{
    img{
      max-width: 2.8rem;
      //border: .1rem solid #E2C081;
      border-radius: 100%;    
    }
    position: relative;
  }
  .navItem{
    margin: 0 0 0 1rem;
    .navLink{
      padding: .5rem 2rem ;
      border-radius: 30rem;
      letter-spacing: .2rem;
      color: var(--white);
      outline: 0;
    }  
    & > a:hover{
      background: var(--secondary);
      color: var(--primary) !important;
    }
    & > a:focus{
      background: var(--secondary);
      color: var(--primary) !important;
      border: none !important;

    }
  }
  .navbarToggler{
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    .navbarTogglerIcon{
      height: .1rem;
      background: var(--white);
      display: block;
      position: relative;
      &::before, &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        background:var(--white);
      }
      &::before{
        top: 1.1rem;
      }
      &::after{
        bottom: 1.1rem;
      }
    }
  }
}

