@import '../../../../../../assets/styles/media-queries';

.labsContent{
  flex: 1;
  margin: 5rem 1rem;  
  @include sm{
    margin: 2rem 5rem;
  }
  @include xs{
    margin: 2rem 2rem;
  }
  .window{
    background: var(--gray);
    display: flex;
    flex-direction: column;  
    .windowTitre{
      position: relative;
      padding: 0.5rem;
      background: var(--dark);
      i{
        display: block;
        width: 1.2rem;
        height: 1.2rem;
        background-color: var(--red);
        border-radius: 100%;  
        position: relative;
        &::before{
          content: "";
          position: absolute;
          right: -1.4rem;
          width: 100%;
          height: 100%;
          background-color: var(--yellow);
          border-radius: 100%;  
        }
        &::after{
          content: "";
          position: absolute;
          right: -2.8rem;
          width: 100%;
          height: 100%;
          background-color: var(--green);
          border-radius: 100%;  
        } 
      } 
      p{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        font-size: 1.2rem;
        font-weight: 700;
        color: var(--gray);
        display: flex;
        justify-content: center;
        align-items: center;
      }      
    }  
    .windowContent{
      flex: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;   
      padding: 2rem;
      .arrowRightAnimate{
        width: 10rem;
        height: 10rem;
        //border: 0.1rem solid var(--text);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 100%;
        cursor: pointer;
        &::after{
          content: "adnen";
          color: var(--text);
          font-size: 1rem;
          opacity: 0;
          font-weight: 700;
        }
        position: relative;
        i{
          &:nth-child(1){
            position: absolute;
            width: 100%;
            height: 100%;
            //border: 0.1rem solid var(--text);
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            transform: rotate(45deg);
            &::after{
              content: "";
              width: 50%;
              height: 0.4rem;
              background: var(--text);
              border: 0.1rem solid var(--text);
            }    
          }
          &:nth-child(2){
            position: absolute;
            width: 100%;
            height: 100%;
            //border: 0.1rem solid var(--text);
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            transform: rotate(-45deg);
            &::after{
              content: "";
              width: 50%;
              height: 0.4rem;
              background: var(--text);
              border: 0.1rem solid var(--text);
            }    
          }  
        }
        &:hover{
          transition: all .5s ease;
          &::after{
            transition: all .2s ease;
            transform: translateX(10rem);
            opacity: 1;
          }
          i{
            &:nth-child(1){
              transition: all .5s ease;
              transform: rotate(50deg);
            }
            &:nth-child(2){
              transition: all .5s ease;
              transform: rotate(-50deg);
            }  
          }
        }
      } 
    }
  }
  .logiqueArrow{
    .logiqueArrowElem{
      background: var(--gray);
      margin: 2rem 0;
      padding: 2rem 0;
      color: var(--text);
      p{
        font-size: 2rem;
        margin: 0 2rem;
        @include xs{
          font-size: 1.6rem;
        }
      }
      .logiqueArrowElemIndex{
        width: 5rem;
        height: 5rem;
        border: 0.1rem solid var(--white);
        background: var(--blue);
        color: var(--gray);
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem;
      }
      .logiqueArrowElemContent{
        flex: 1;
        display: flex;
        align-items: center;
        margin-left: 5rem;
        margin: 1rem 0 1rem 5rem;
        @include sm{
          margin-left: 1rem;
        }
        @include xs{
          margin-left: 1rem;
        }
        .logiqueArrowElemBarTop{
          width: 10rem;
          height: 10rem;
          border: 0.4rem solid var(--text);
          border-radius: 100%;
          display: flex;
          align-items: center;
          &::after{
            content: "";
            height: 0.4rem;
            width: 50%;
            background: var(--red);
          }
        }  
        .logiqueArrowElemBarBottom{
          width: 10rem;
          height: 10rem;
          border: 0.4rem solid var(--text);
          border-radius: 100%;
          display: flex;
          align-items: center;
          &::after{
            content: "";
            height: 0.4rem;
            width: 50%;
            background: var(--blue);
          }
        }  

        &:last-child{
          .logiqueArrowElemBarTop{
            transform: rotate(45deg);
          }
          .logiqueArrowElemBarBottom{
            transform: rotate(-45deg);
          }  
        }

      }    
    }
  }
}

.arrowanimation2{
  flex: 1;
  width: 100%;
  .circlearrow{
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    transform: rotate(45deg);
    .arrowBarTop{
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      &::after{
        content: '';
        display: block;
        width: 49%;
        height: 0.1rem;
        background: var(--text);
        border: 0.1rem solid var(--text);
        //border-top-left-radius: 5rem;
        //border-bottom-left-radius: 5rem;

      }
    }
    .arrowBarBottom{
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      &::after{
        content: '';
        display: block;
        width: 0.1rem;
        height: 49%;
        border: 0.1rem solid var(--text);
        background: var(--text);
        //border-top-left-radius: 5rem;
      }
    }
    &:hover{
      .arrowBarTop{
        transition: all .4s;
        transform: rotate(10deg);
      }
      .arrowBarBottom{
        transition: all .4s;
        transform: rotate(-10deg);
      }
    }
  }

}

.rotate45{
  animation: rotate45 .2s linear forwards;
  &::after{
    animation: translateX10 .1s ease .2s forwards;
  }
}
.rotateinverse45{
  animation: rotateinverse45 .2s linear forwards;
  &::after{
    animation: translateY10 .1s ease .2s forwards;
  }
}
@keyframes rotate45{
  0%{
    transform: rotate(135deg);
  }100%{
    transform: rotate(180deg);
  }
}
@keyframes translateX10{
  0%{
    transform: translateY(0);
  }100%{
    transform: translateY(10rem);
  }
}
@keyframes translateY10{
  0%{
    transform: translateX(0);
  }100%{
    transform: translateX(-10rem);
  }
}

@keyframes rotateinverse45{
  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(-45deg);
  }
}

@keyframes fadeout{
  from{
    opacity: 1;
  }to{
    opacity: 0;
  }
}
