@import '../../../assets/styles/media-queries';
.asideRight{
  grid-column: 3 / 4;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  background: var(--bg-dark);
  position: sticky;
  top: 0;
  @include xs{

    display: none;
  }    
}