@import '../../../../assets/styles/media-queries';
.labsContent{
  @include sm{
    margin: 0 6rem;
  }
  @include xs{
    margin: 0 2rem;
  }
  .window{
    background: var(--gray);
    min-height: 40rem;
    display: flex;
    flex-direction: column;  
    .windowTitre{
      position: relative;
      padding: 0.5rem;
      background: var(--dark);
      i{
        display: block;
        width: 1.2rem;
        height: 1.2rem;
        background-color: var(--red);
        border-radius: 100%;  
        position: relative;
        &::before{
          content: "";
          position: absolute;
          right: -1.4rem;
          width: 100%;
          height: 100%;
          background-color: var(--yellow);
          border-radius: 100%;  
        }
        &::after{
          content: "";
          position: absolute;
          right: -2.8rem;
          width: 100%;
          height: 100%;
          background-color: var(--green);
          border-radius: 100%;  
        } 
      } 
      p{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        font-size: 1.2rem;
        font-weight: 700;
        color: var(--gray);
        display: flex;
        justify-content: center;
        align-items: center;
      }      
    }  
    .windowContent{
      flex: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;    
    }
  }
  .montreContent{
    width: 20rem;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: var(--dark);
    border-radius: 100%;
    box-shadow: var(--shadow);
    .montreText{
      position: absolute;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      span{
        font-size: 4rem;
        font-weight: 700;
        color: var(--gray);
        padding: 1rem;
        &:nth-child(1){
          grid-column: 2 / 3;
          justify-self: center;
          align-self: start;
        }
        &:nth-child(2){
          grid-column: 3 / 4;
          grid-row: 2 / 3;
          justify-self: end;
          align-self: center;
        }
        &:nth-child(3){
          grid-column: 2 / 3;
          grid-row: 3 / 4;
          justify-self: center;
          align-self: end;
        }
        &:nth-child(4){
          grid-column: 1 / 2;
          grid-row: 2 / 3;
          justify-self: start;
          align-self: center;
        }      
      }
    }
    .heures{
      position: absolute;
      width: 50%;
      height: 50%;
      //border: 0.1rem solid var(--red);
      display: flex;
      //border-radius: 100%;
      align-items: center;
      justify-content: center;
      transform: rotate(60deg);
      animation: rotate-montre 43200s linear forwards infinite;

      &::before{
        content: "";
        width: 1rem;
        height: 1rem;
        border: 0.1rem solid var(--green);
        border-radius: 100%;
        background: var(--green);
      }
      position: relative;
      &::after{
        content: "";
        width: 0.5rem;
        height: 50%;
        position: absolute;
        top: 0;  
        border: 0.1rem solid var(--green);
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;    
      }
    }
    .minutes{
      position: absolute;
      width: 60%;
      height: 60%;
      //border: 0.1rem solid var(--white);
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(90deg);
      animation: rotate-montre 3600s linear forwards infinite;

      &::after{
        content: "";
        width: 0.8rem;
        height: 0.8rem;
        background: var(--white);
        border-radius: 100%;
      }
      &::before{
        content: "";
        width: 0.5rem;
        height: 50%;
        border: 0.1rem solid var(--white);
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;      
        position: absolute;
        top: 0;
      }
    }
    .secondes{
      position: absolute;
      width: 70%;
      height: 70%;
      //border: 0.1rem solid var(--green);
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(45deg);
      animation: rotate-montre 60s linear forwards infinite;
      &::after{
        content: "";
        width: 0.6rem;
        height: 0.6rem;
        background: var(--red);
        border-radius: 100%;
      }
      &::before{
        content: "";
        position: absolute;
        top: 0;
        width: 0.1rem;
        height: 50%;
        background: var(--red);
        border: 0.1rem solid var(--red);     
      }
    }
  }   
  .reglage{
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    min-height: 35rem;
    .reglageHeader{
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      background: #ddd;
      .reglageTitre{
        flex: 1;
        font-weight: 700;
        margin: 0;
        padding: 0.5rem 1rem;
        font-size: 1.8rem;
        color: var(--text);
      }
    }
    .reglageContent{
      flex: 1;
      display: flex;
      flex-flow: row nowrap;
      color: var(--text);
      background: var(--gray);
      position: relative;
      overflow: hidden;
      .minutesReglage{
        flex: 1;
        min-width: 50%;
        position: relative;
        transform-style: preserve-3d;
        transition: all 12s;
        transform: rotateX(360deg);
        display: flex;
        flex-direction: column;
        justify-content: center;  
        .circle{
          position: absolute;
          width: 60rem;
          height: 60rem;
          border: 0.1rem solid var(--text);
          border-radius: 100%;
          &.left{
            transform: translateX(-50%) rotateY(90deg);
          }
          &.right{
            right: 0;
            transform: translateX(50%) rotateY(90deg);   
          }
        }
        .side{
          flex: 1;
          position: relative;
          display: flex;
          align-items: center;
         //background: var(--gray);
          li{
            position: absolute;
            width: 100%;
            height: 3.2rem;
            text-align: center;
            font-size: 1.4rem;
            background: var(--gray);
            display: flex;
            align-items: center;
            justify-content: center;
            &:nth-child(1){
              transform: translateZ(30rem);
            }
            &:nth-child(2){
              transform:rotateX(-6deg) translateZ(30rem);
            }  
            &:nth-child(3){
              transform: rotateX(-12deg) translateZ(30rem);
            }    
            &:nth-child(4){
              transform: rotateX(-18deg) translateZ(30rem);
            }              
            &:nth-child(5){
              transform: rotateX(-24deg) translateZ(30rem);
            }              
            &:nth-child(6){
              transform: rotateX(-30deg) translateZ(30rem);
            }              
            &:nth-child(7){
              transform: rotateX(-36deg) translateZ(30rem);
            }              
            &:nth-child(8){
              transform: rotateX(-42deg) translateZ(30rem);
            }              
            &:nth-child(9){
              transform: rotateX(-48deg) translateZ(30rem);
            }           
            &:nth-child(10){
              transform: rotateX(-54deg) translateZ(30rem);
            }                
            &:nth-child(11){
              transform: rotateX(-60deg) translateZ(30rem);
            }                       
            &:nth-child(12){
              transform: rotateX(-66deg) translateZ(30rem);
            }           
            &:nth-child(13){
              transform: rotateX(-72deg) translateZ(30rem);
            }                         
            &:nth-child(14){
              transform: rotateX(-78deg) translateZ(30rem);
            }                       
            &:nth-child(15){
              transform: rotateX(-84deg) translateZ(30rem);
            }                       
            &:nth-child(16){
              transform: rotateX(-90deg) translateZ(30rem);
            }                       
            &:nth-child(17){
              transform: rotateX(-96deg) translateZ(30rem);
            }                       
            &:nth-child(18){
              transform: rotateX(-102deg) translateZ(30rem);
            }                       
            &:nth-child(19){
              transform: rotateX(-108deg) translateZ(30rem);
            }                       
            &:nth-child(20){
              transform: rotateX(-114deg) translateZ(30rem);
            }                       
            &:nth-child(21){
              transform: rotateX(-120deg) translateZ(30rem);
            }  
            &:nth-child(22){
              transform: rotateX(-126deg) translateZ(30rem);
            } 
            &:nth-child(23){
              transform: rotateX(-132deg) translateZ(30rem);
            }                           
            &:nth-child(24){
              transform: rotateX(-138deg) translateZ(30rem);
            }             
            &:nth-child(25){
              transform: rotateX(-144deg) translateZ(30rem);
            }             
            &:nth-child(26){
              transform: rotateX(-150deg) translateZ(30rem);
            }             
            &:nth-child(27){
              transform: rotateX(-156deg) translateZ(30rem);
            }             
            &:nth-child(28){
              transform: rotateX(-162deg) translateZ(30rem);
            }             
            &:nth-child(29){
              transform: rotateX(-168deg) translateZ(30rem);
            }             
            &:nth-child(30){
              transform: rotateX(-174deg) translateZ(30rem);
            }             
            &:nth-child(31){
              transform: rotateX(-180deg) translateZ(30rem);
            }             
            &:nth-child(32){
              transform: rotateX(-186deg) translateZ(30rem);
            }  
            &:nth-child(33){
              transform: rotateX(-192deg) translateZ(30rem);
            }
            &:nth-child(34){
              transform: rotateX(-198deg) translateZ(30rem);
            }  
            &:nth-child(35){
              transform: rotateX(-204deg) translateZ(30rem);
            }  
            &:nth-child(36){
              transform: rotateX(-210deg) translateZ(30rem);
            }  
            &:nth-child(37){
              transform: rotateX(-216deg) translateZ(30rem);
            }  
            &:nth-child(38){
              transform: rotateX(-222deg) translateZ(30rem);
            }  
            &:nth-child(39){
              transform: rotateX(-228deg) translateZ(30rem);
            }  
            &:nth-child(40){
              transform: rotateX(-234deg) translateZ(30rem);
            }  
            &:nth-child(41){
              transform: rotateX(-240deg) translateZ(30rem);
            }  
            &:nth-child(42){
              transform: rotateX(-246deg) translateZ(30rem);
            }  
            &:nth-child(43){
              transform: rotateX(-252deg) translateZ(30rem);
            }  
            &:nth-child(44){
              transform: rotateX(-258deg) translateZ(30rem);
            }  
            &:nth-child(45){
              transform: rotateX(-264deg) translateZ(30rem);
            }  
            &:nth-child(46){
              transform: rotateX(-270deg) translateZ(30rem);
            }  
            &:nth-child(47){
              transform: rotateX(-276deg) translateZ(30rem);
            }  
            &:nth-child(48){
              transform: rotateX(-282deg) translateZ(30rem);
            }  
            &:nth-child(49){
              transform: rotateX(-288deg) translateZ(30rem);
            }  
            &:nth-child(50){
              transform: rotateX(-294deg) translateZ(30rem);
            }  
            &:nth-child(51){
              transform: rotateX(-300deg) translateZ(30rem);
            }  
            &:nth-child(52){
              transform: rotateX(-306deg) translateZ(30rem);
            }  
            &:nth-child(53){
              transform: rotateX(-312deg) translateZ(30rem);
            }  
            &:nth-child(54){
              transform: rotateX(-318deg) translateZ(30rem);
            }  
            &:nth-child(55){
              transform: rotateX(-324deg) translateZ(30rem);
            }  
            &:nth-child(56){
              transform: rotateX(-330deg) translateZ(30rem);
            }  
            &:nth-child(57){
              transform: rotateX(-336deg) translateZ(30rem);
            }  
            &:nth-child(58){
              transform: rotateX(-342deg) translateZ(30rem);
            }  
            &:nth-child(59){
              transform: rotateX(-348deg) translateZ(30rem);
            } 
            &:nth-child(60){
              transform: rotateX(-354deg) translateZ(30rem);
            } 
            &:nth-child(61){
              transform: rotateX(-360deg) translateZ(30rem);
            } 
            a:hover, a:focus{
              transition: all 0.1s;
              color: var(--blue);
            }                                   
          }
        }
      }
      .heuresReglage{
        flex: 1;
        transform-style: preserve-3d;
        //background: var(--gray);
        min-width: 50%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all 4s;
        transform: rotateX(30deg);
        .circle{
          width: 15rem;
          height: 15rem;
          position: absolute;
          border: 0.1rem solid var(--text);
          border-radius: 100%;
          &.left{
            border: 0.1rem solid var(--green);
            transform: translateX(-50%) rotateY(90deg);
          }
          &.right{
            right: 0;
            transform: translateX(50%) rotateY(90deg);
          }
        }
        .side{
          position: relative;
          display: flex;
          align-items: center;
          li{
            position: absolute;
            width: 100%;
            height: 5rem;
            font-size: 1.4rem;
            text-align: center;
            background: var(--gray);
            display: flex;
            align-items: center;
            justify-content: center;
            a:hover, a:focus{
              transition: all 0.1s;
              color: var(--blue);
            }   
            &:nth-child(1){
              transform: translateZ(7.5rem);
            }
            &:nth-child(2){
              transform: rotateX(-30deg) translateZ(7.5rem);
            }  
            &:nth-child(3){
              transform: rotateX(-60deg) translateZ(7.5rem);
            }    
            &:nth-child(4){
              transform: rotateX(-90deg) translateZ(7.5rem);
            }    
            &:nth-child(5){
              transform: rotateX(-120deg) translateZ(7.5rem);
            }    
            &:nth-child(6){
              transform: rotateX(-150deg) translateZ(7.5rem);
            }    
            &:nth-child(7){
              transform: rotateX(-180deg) translateZ(7.5rem);
            }    
            &:nth-child(8){
              transform: rotateX(-210deg) translateZ(7.5rem);
            }    
            &:nth-child(9){
              transform: rotateX(-240deg) translateZ(7.5rem);
            }    
            &:nth-child(10){
              transform: rotateX(-270deg) translateZ(7.5rem);
            }    
            &:nth-child(11){
              transform: rotateX(-300deg) translateZ(7.5rem);
            }   
            &:nth-child(12){
              transform: rotateX(-330deg) translateZ(7.5rem);
            }      
          }
        }
      }
      .filterTop{
        position: absolute;
        width: 100%;
        top: 0;
        height: 25%;
        background: var(--gray);
        &::after{
          content: "";
          width: 100%;
          height: 0.1rem;
          background: var(--blue);
          position: absolute;
          bottom: -80%;
        }
      }
      .filterBottom{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 25%;
        background: var(--gray);
        &::after{
          content: "";
          width: 100%;
          height: 0.1rem;
          background: var(--blue);
          position: absolute;
          top: -80%;
        }
      }
    }
  } 
}

/* montres */

@keyframes rotate-montre{
  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(360deg);
  }
}