@import "../../../assets/styles/media-queries";
.projects{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 16rem 0 5rem 0;
  @include sm{
    padding: 10rem 0 5rem 0;
  }
  @include xs{
    padding: 10rem 0 5rem 0;
  }  
  @include xxs{
    padding: 8rem 0 5rem 0;
  }  
  .projectsContent{
    flex: 1;
    .projectsList{
      padding: 0;
      margin: 5rem 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem 1rem;
      @include md{
        grid-template-columns: repeat(3, 1fr);
        margin: 2rem 0;
      }  
      @include sm{
        grid-template-columns: repeat(3, 1fr);
        margin: 2rem 0;
      }
      @include xs{
        grid-template-columns: repeat(2, 1fr);
        margin: 1rem 0;
      }
    }
  }
}  
