/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
.container-film {
  max-width: 70rem;
  margin: auto; }
  @media (min-width: 768px) and (max-width: 979px) {
    .container-film {
      max-width: 80rem;
      margin: 0 1rem;
      min-height: 50rem; } }
  @media (max-width: 767px) {
    .container-film {
      max-width: 80rem;
      margin: 0 1rem;
      min-height: 50rem; } }
  @media (max-width: 480px) {
    .container-film {
      display: none; } }

.film {
  position: relative; }
  .film .introduction {
    display: flex;
    flex-direction: column; }
    .film .introduction .introduction-content {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-auto-flow: row;
      gap: 1rem;
      animation: fadeout 0.4s ease 2s forwards; }
      .film .introduction .introduction-content .picture-profil {
        grid-column: 1 / 3;
        grid-row: 1 / 4;
        align-self: center;
        border-radius: 100%;
        opacity: 0;
        animation: img-profil-display 1s ease forwards 1s; }
        @media (min-width: 768px) and (max-width: 979px) {
          .film .introduction .introduction-content .picture-profil {
            display: none; } }
        @media (max-width: 767px) {
          .film .introduction .introduction-content .picture-profil {
            display: none; } }
      .film .introduction .introduction-content h1 {
        grid-column: 3 / 7;
        font-weight: 700;
        font-size: 4rem;
        letter-spacing: 0.4rem;
        color: var(--white);
        margin: 0;
        text-align: center; }
        @media (min-width: 768px) and (max-width: 979px) {
          .film .introduction .introduction-content h1 {
            display: none; } }
        @media (max-width: 767px) {
          .film .introduction .introduction-content h1 {
            display: none; } }
      .film .introduction .introduction-content p {
        grid-column: 3 / 7;
        margin: 0;
        letter-spacing: 0.2rem;
        font-size: 1.2rem;
        color: var(--gray);
        font-weight: 100;
        text-align: center; }
        @media (min-width: 768px) and (max-width: 979px) {
          .film .introduction .introduction-content p {
            display: none; } }
        @media (max-width: 767px) {
          .film .introduction .introduction-content p {
            display: none; } }
      .film .introduction .introduction-content .lang {
        grid-column: 7 / 8;
        grid-row: 3 / 4;
        padding: 1rem; }
        @media (min-width: 768px) and (max-width: 979px) {
          .film .introduction .introduction-content .lang {
            display: none; } }
        @media (max-width: 767px) {
          .film .introduction .introduction-content .lang {
            display: none; } }
        .film .introduction .introduction-content .lang.lang-html {
          animation: html-profil-glissment 0.4s ease forwards; }
        .film .introduction .introduction-content .lang.lang-css {
          animation: css-profil-glissment 0.4s ease forwards 0.4s; }
        .film .introduction .introduction-content .lang.lang-git {
          animation: git-profil-glissment 0.4s ease forwards 0.8s; }
        .film .introduction .introduction-content .lang.lang-js {
          animation: js-profil-glissment 0.4s ease forwards 1.2s; }
      .film .introduction .introduction-content .load {
        grid-column: 1 / 3;
        grid-row: 1 / 4;
        width: 5rem;
        height: 5rem;
        align-self: center;
        justify-self: center;
        border-radius: 100%;
        animation: load 1s ease; }
        @media (min-width: 768px) and (max-width: 979px) {
          .film .introduction .introduction-content .load {
            display: none; } }
        @media (max-width: 767px) {
          .film .introduction .introduction-content .load {
            display: none; } }
      .film .introduction .introduction-content .filter {
        grid-row: 3 / 4;
        grid-column: 7 / 8;
        background: var(--blue-light); }
  .film .skill {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: display-skill 0.2s ease forwards 2.4s; }
    @media (min-width: 768px) and (max-width: 979px) {
      .film .skill {
        animation: display-skill 0.2s ease forwards; } }
    @media (max-width: 767px) {
      .film .skill {
        animation: display-skill 0.2s ease forwards; } }
    @media (max-width: 480px) {
      .film .skill {
        display: none; } }
  .film .skill-content {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 0.2rem; }
    .film .skill-content .skill-titre {
      line-height: 3.5rem;
      grid-column: 3 / 8;
      grid-row: 1 / 3;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      .film .skill-content .skill-titre p {
        color: var(--white);
        opacity: 0;
        margin: 0;
        padding: 1.5rem;
        margin: 0 0.5rem;
        font-size: 4rem;
        font-weight: 300; }
        .film .skill-content .skill-titre p:nth-child(1) {
          animation: skill-titre 0.8s ease forwards 4.8s; }
          @media (min-width: 768px) and (max-width: 979px) {
            .film .skill-content .skill-titre p:nth-child(1) {
              animation: skill-titre 0.8s ease forwards 4.4s; } }
          @media (max-width: 767px) {
            .film .skill-content .skill-titre p:nth-child(1) {
              animation: skill-titre 0.8s ease forwards 4.4s; } }
        .film .skill-content .skill-titre p:nth-child(2) {
          animation: skill-titre 0.8s ease forwards 4.9s; }
          @media (min-width: 768px) and (max-width: 979px) {
            .film .skill-content .skill-titre p:nth-child(2) {
              animation: skill-titre 0.8s ease forwards 4.5s; } }
          @media (max-width: 767px) {
            .film .skill-content .skill-titre p:nth-child(2) {
              animation: skill-titre 0.8s ease forwards 4.5s; } }
        .film .skill-content .skill-titre p:nth-child(3) {
          animation: skill-titre 0.8s ease forwards 5s; }
          @media (min-width: 768px) and (max-width: 979px) {
            .film .skill-content .skill-titre p:nth-child(3) {
              animation: skill-titre 0.8s ease forwards 4.6s; } }
          @media (max-width: 767px) {
            .film .skill-content .skill-titre p:nth-child(3) {
              animation: skill-titre 0.8s ease forwards 4.6s; } }
        .film .skill-content .skill-titre p:nth-child(4) {
          animation: skill-titre 0.8s ease forwards 5.1s; }
          @media (min-width: 768px) and (max-width: 979px) {
            .film .skill-content .skill-titre p:nth-child(4) {
              animation: skill-titre 0.8s ease forwards 4.7s; } }
          @media (max-width: 767px) {
            .film .skill-content .skill-titre p:nth-child(4) {
              animation: skill-titre 0.8s ease forwards 4.7s; } }
        .film .skill-content .skill-titre p:nth-child(4) {
          animation: skill-titre 0.8s ease forwards 5.2s; }
          @media (min-width: 768px) and (max-width: 979px) {
            .film .skill-content .skill-titre p:nth-child(4) {
              animation: skill-titre 0.8s ease forwards 4.8s; } }
          @media (max-width: 767px) {
            .film .skill-content .skill-titre p:nth-child(4) {
              animation: skill-titre 0.8s ease forwards 4.8s; } }
        .film .skill-content .skill-titre p:nth-child(5) {
          animation: skill-titre 0.8s ease forwards 5.3s; }
          @media (min-width: 768px) and (max-width: 979px) {
            .film .skill-content .skill-titre p:nth-child(5) {
              animation: skill-titre 0.8s ease forwards 4.9s; } }
          @media (max-width: 767px) {
            .film .skill-content .skill-titre p:nth-child(5) {
              animation: skill-titre 0.8s ease forwards 4.9s; } }
    .film .skill-content .skill-picture {
      grid-row: 1 / 3;
      grid-column: 7 / 8;
      opacity: 0;
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem; }
      .film .skill-content .skill-picture img {
        border-radius: 100%; }
    .film .skill-content .skill-score {
      grid-row: 2 / 9;
      grid-column: 2 / 9;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
      border-left: 1px solid var(--white);
      border-bottom: 1px solid var(--white); }
      .film .skill-content .skill-score .skill-score-elem {
        border-bottom: 1px solid var(--gray);
        padding: 2rem; }
        .film .skill-content .skill-score .skill-score-elem:last-child {
          border: 0; }
    .film .skill-content .skill-picture-html {
      grid-row: 9 / 10;
      grid-column: 2 / 3;
      padding: 1rem;
      animation: skill-picture-html 0.4s ease forwards 4s; }
      @media (min-width: 768px) and (max-width: 979px) {
        .film .skill-content .skill-picture-html {
          animation: skill-picture-html 0.4s ease forwards 1.8s; } }
      @media (max-width: 767px) {
        .film .skill-content .skill-picture-html {
          animation: skill-picture-html 0.4s ease forwards 1.8s; } }
    .film .skill-content .skill-picture-css {
      grid-row: 9 / 10;
      grid-column: 2 / 3;
      padding: 1rem;
      animation: skill-picture-css 0.4s ease forwards 3.6s; }
      @media (min-width: 768px) and (max-width: 979px) {
        .film .skill-content .skill-picture-css {
          animation: skill-picture-css 0.4s ease forwards 1.4s; } }
      @media (max-width: 767px) {
        .film .skill-content .skill-picture-css {
          animation: skill-picture-css 0.4s ease forwards 1.4s; } }
    .film .skill-content .skill-picture-git {
      grid-row: 9 / 10;
      grid-column: 2 / 3;
      padding: 1rem;
      animation: skill-picture-git 0.4s ease forwards 1s; }
      @media (min-width: 768px) and (max-width: 979px) {
        .film .skill-content .skill-picture-git {
          animation: skill-picture-git 0.4s ease forwards 1s; } }
      @media (max-width: 767px) {
        .film .skill-content .skill-picture-git {
          animation: skill-picture-git 0.4s ease forwards 1s; } }
    .film .skill-content .skill-picture-js {
      grid-row: 9 / 10;
      grid-column: 2 / 3;
      padding: 1rem;
      animation: skill-picture-js 0.4s ease forwards 2.8s; }
      @media (min-width: 768px) and (max-width: 979px) {
        .film .skill-content .skill-picture-js {
          animation: skill-picture-js 0.4s ease forwards 0.6s; } }
      @media (max-width: 767px) {
        .film .skill-content .skill-picture-js {
          animation: skill-picture-js 0.4s ease forwards 0.6s; } }
    .film .skill-content .skill-picture-node {
      grid-row: 9 / 10;
      grid-column: 2 / 3;
      padding: 1rem;
      animation: skill-picture-node 0.4s ease forwards 2.4s; }
      @media (min-width: 768px) and (max-width: 979px) {
        .film .skill-content .skill-picture-node {
          animation: skill-picture-node 0.4s ease forwards 0.2s; } }
      @media (max-width: 767px) {
        .film .skill-content .skill-picture-node {
          animation: skill-picture-node 0.4s ease forwards 0.2s; } }
    .film .skill-content .filter-pictures {
      grid-column: 2 / 3;
      grid-row: 9 / 10;
      background-color: var(--blue); }
    .film .skill-content .skill-titre-x {
      grid-row: 8 / 9;
      grid-column: 9 / 10;
      font-size: 1.2rem;
      color: var(--white);
      animation: gliss-skill-titre 0.4s ease forwards 4s; }
      @media (min-width: 768px) and (max-width: 979px) {
        .film .skill-content .skill-titre-x {
          animation: gliss-skill-titre 0.4s ease forwards 2.2s; } }
      @media (max-width: 767px) {
        .film .skill-content .skill-titre-x {
          animation: gliss-skill-titre 0.4s ease forwards 2.2s; } }
    .film .skill-content .skill-titre-y {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      font-size: 1.2rem;
      color: var(--white);
      animation: gliss-skill-titre 0.4s ease forwards 4.4s; }
      @media (min-width: 768px) and (max-width: 979px) {
        .film .skill-content .skill-titre-y {
          animation: gliss-skill-titre 0.4s ease forwards 2.6s; } }
      @media (max-width: 767px) {
        .film .skill-content .skill-titre-y {
          animation: gliss-skill-titre 0.4s ease forwards 2.6s; } }
    .film .skill-content .filter-titre-y {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      background: var(--blue);
      z-index: 1; }
    .film .skill-content .filter-titre-x {
      grid-row: 8 / 9;
      grid-column: 9 / 10;
      background: var(--blue-light);
      z-index: 1; }
    .film .skill-content .skill-progression-html {
      grid-column: 3 / 4;
      grid-row: 8 / 9;
      background: var(--white);
      margin-bottom: 0.5rem;
      border-top-right-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
      animation: progress-html 1s ease forwards 6.1s; }
      @media (min-width: 768px) and (max-width: 979px) {
        .film .skill-content .skill-progression-html {
          animation: progress-html 1s ease forwards 3s; } }
      @media (max-width: 767px) {
        .film .skill-content .skill-progression-html {
          animation: progress-html 1s ease forwards 3s; } }
    .film .skill-content .skill-progression-css {
      grid-column: 4 / 5;
      grid-row: 8 / 9;
      background: white;
      margin-bottom: 0.5rem;
      border-top-right-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
      animation: progress-css 1s ease forwards 6.2s; }
      @media (min-width: 768px) and (max-width: 979px) {
        .film .skill-content .skill-progression-css {
          animation: progress-css 1s ease forwards 3.1s; } }
      @media (max-width: 767px) {
        .film .skill-content .skill-progression-css {
          animation: progress-css 1s ease forwards 3.1s; } }
    .film .skill-content .skill-progression-git {
      grid-column: 5 / 6;
      grid-row: 8 / 9;
      background: white;
      margin-bottom: 0.5rem;
      border-top-right-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
      animation: progress-git 1s ease forwards 6.3s; }
      @media (min-width: 768px) and (max-width: 979px) {
        .film .skill-content .skill-progression-git {
          animation: progress-git 1s ease forwards 3.2s; } }
      @media (max-width: 767px) {
        .film .skill-content .skill-progression-git {
          animation: progress-git 1s ease forwards 3.2s; } }
    .film .skill-content .skill-progression-js {
      grid-column: 6 / 7;
      grid-row: 8 / 9;
      background: white;
      margin-bottom: 0.5rem;
      border-top-right-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
      animation: progress-js 1s ease forwards 6.4s; }
      @media (min-width: 768px) and (max-width: 979px) {
        .film .skill-content .skill-progression-js {
          animation: progress-js 1s ease forwards 3.3s; } }
      @media (max-width: 767px) {
        .film .skill-content .skill-progression-js {
          animation: progress-js 1s ease forwards 3.3s; } }
    .film .skill-content .skill-progression-node {
      grid-column: 7 / 8;
      grid-row: 8 / 9;
      background: white;
      margin-bottom: 0.5rem;
      border-top-right-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
      animation: progress-node 1s ease forwards 6.5s; }
      @media (min-width: 768px) and (max-width: 979px) {
        .film .skill-content .skill-progression-node {
          animation: progress-node 1s ease forwards 3.4s; } }
      @media (max-width: 767px) {
        .film .skill-content .skill-progression-node {
          animation: progress-node 1s ease forwards 3.4s; } }
