@import "./assets/styles/media-queries";
$primary:#E2C081;// #01204D;
$secondary:white;
$danger: #ff4136;
@import 'bootstrap';

@include md{
  #navbarNav{
    position: absolute;
    width: 80%;
    top:0;
    left: 0;
    background: var(--white);
    z-index: 1;
    .navbar-nav .nav-item{
      padding: 1rem 0;
      border-bottom: .1rem solid var(--primary);  
      a.nav-link{
        border-radius: 0;
        color: var(--primary) !important;
      }
    } 
  }    
}
@include sm{
  #navbarNav{
    position: absolute;
    width: 80%;
    top:0;
    left: 0;
    background: var(--white);
    z-index: 1;
    .navbar-nav .nav-item{
      padding: 1rem 0;
      border-bottom: .1rem solid var(--primary);  
      a.nav-link{
        border-radius: 0;
        color: var(--primary) !important;
      }
    } 
  }    
}
@include xs{
  #navbarNav{
    position: absolute;
    width: 80%;
    top:0;
    left: 0;
    background: var(--white);
    z-index: 1;
    .navbar-nav .nav-item{
      padding: 1rem 0;
      border-bottom: .1rem solid var(--primary);  
      a.nav-link{
        border-radius: 0;
        color: var(--primary) !important;
      }
    } 
  }    
}
