@import "../../assets/styles/media-queries";
.hidden{
  display: none;
}
.container{
  max-width: 110rem;
  margin: auto;
}
.underline{
  width: 50%;
  height: .2rem;
  background: var(--secondary);
  margin: 1rem 0;
  @include md{
    display: none;
  }
  @include sm{
    display: none;
  }
  @include xs{
    display: none;
  }
}
#navbar .active{
  background: #E2C081;
  color: var(--primary) !important;
}    
#navbar .active1{
  background: #E2C081;
  color: var(--light) !important;
}  
#pills-contact-tab.active{
  background: var(--color-title);
  color: var(--light) !important;
}
.title-secondary{
  font-size: 3.6rem;
  line-height: 4.6rem;
  color: var(--color-title);
  font-family: 'Bahnschrift';
  letter-spacing: .1rem;
  margin-bottom: 4rem;
  @include l{
    font-size: 3.2rem;
    line-height:4.1rem;
    margin-bottom: 1rem;
  }
  @include sm{
    font-size: 3.2rem;
    line-height:4.1rem;
    margin-bottom: 1rem;
  }
  @include xs{
    font-size: 2.8rem;
    line-height:3.7rem;
    margin-bottom: 1rem;
  }
  @include xxs{
    font-size: 2.5rem;
    line-height: 3.2rem;
    margin-bottom: 1rem;
  }
}
.title-page{
  font-size: 7.2rem;
  font-family: 'be_vietnamextrabold';  
  line-height: 7.2rem;
  color: var(--gray-300);
  letter-spacing: .1rem;
  text-align: start;
  @include md{
    text-align: start;
  }
  @include sm{
    font-size: 6.5rem; // 90 %
    line-height: 6.5rem;
    margin-bottom: 4rem;
    text-align: start;
  }
  @include xs{
    font-size: 5.7rem; // 80 %
    margin-bottom: 1rem;
    text-align: start;
  }
  @include xxs{
    font-size: 4.8rem; // 70%
  }
}
.paragraph{
  font-size: 2.4rem;
  line-height: 3.8rem;
  font-family: 'robotoregular';
  max-width: 50rem;
  color: var(--color-text);
  max-height: calc(3.8rem * 4);
  overflow: hidden;
  @include l{
    font-size: 2.1rem;
    line-height: 3.4rem;
    max-height: calc(3rem * 4);
    max-height: calc(3.4rem * 4);
  }
  @include sm{
    font-size: 2.1rem;
    line-height: 3.4rem;
    max-height: calc(3rem * 4);
    max-height: calc(3.4rem * 4);
  }
  @include xs{
    font-size: 1.9rem;
    line-height: 3rem;
    max-height: calc(3rem * 4);
  }
  @include xxs{
    font-size: 1.7rem;
    line-height: 2.7rem;
    max-height: calc(2.7rem * 4);

  }
}
/* text color */
.text-dark{
  color: var(--dark);
}
.text-red{
  color: var(--red);
}
.text-gray{
  color: var(--gray);
}
.text-green{
  color: var(--green);
}
.text-blue{
  color: var(--blue);
}
.text-hint{
  font-family: 'myriadpro-regular';
  letter-spacing: .1rem;
}
.text-danger{
  color: var(--red);
}
/* quote */
.quote{
  font-style: italic;
  &::before{
    content: "\AB";
    padding: 0 0.5rem;

  }
  &::after{
    content: "\BB";
    padding: 0 0.5rem;
  }
}

.shadow{
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15) !important;
}

/* loading ... icon */
.load-page{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 100vh;
  background-color: var(--blue-1); 
  z-index: 1;  
  display: flex;
  justify-content:center;  
  align-items: center;
  animation: fadeout-load 0.8s ease forwards 1.7s;
  .circles{
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    animation: fadeout-load 0.8s ease forwards 1.7s;
    .circle{
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      &::after{
        content: "";
        width: 1rem;
        height: 1rem;
        background-color: var(--white);
      }  
    }
    .circle-1{
      animation: rotate-load-1 0.1s ease forwards;
    }
    .circle-2{
      animation: rotate-load-2 0.1s ease forwards 0.1s;
    }  
    .circle-3{
      animation: rotate-load-3 0.1s ease forwards 0.2s;
    }    
    .circle-4{
      animation: rotate-load-4 0.1s ease forwards 0.3s;
    } 
    .circle-5{
      animation: rotate-load-5 0.1s ease forwards 0.4s;
    }     
    .circle-6{
      animation: rotate-load-6 0.1s ease forwards 0.5s;
    }
    .circle-7{
      animation: rotate-load-7 0.1s ease forwards 0.6s;
    }          
    .circle-8{
      animation: rotate-load-8 0.1s ease forwards 0.7s;
    }     
    .circle-9{
      animation: rotate-load-9 0.1s ease forwards 0.8s;
    }  
    .circle-10{
      animation: rotate-load-10 0.1s ease forwards 0.8s;
    }
    .circle-11{
      animation: rotate-load-11 0.1s ease forwards 0.9s;
    }  
    .circle-12{
      animation: rotate-load-12 0.1s ease forwards 1s;
    }       
    .circle-13{
      animation: rotate-load-13 0.1s ease forwards 1.1s;
    }                                             
    .circle-14{
      animation: rotate-load-14 0.1s ease forwards 1.2s;
    }       
    .circle-15{
      animation: rotate-load-15 0.1s ease forwards 1.3s;
    }       
    .circle-16{
      animation: rotate-load-16 0.1s ease forwards 1.4s;
    }       
    .circle-17{
      animation: rotate-load-17 0.1s ease forwards 1.5s;
    }       
    .circle-18{
      animation: rotate-load-18 0.1s ease forwards 1.6s;
    }   
  }   
}


/*  carousel */
.container-carousel{
  flex: 1;
  display: grid;
  grid-template-columns: 10rem 1fr 10rem;
  button{
    cursor: pointer;
  }
  .slide-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  } 
   
  li {
    list-style: none;
    font-size: 112px;
    color: white;
    padding: 0 4px 0 4px 
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity .2s

  }
  
  .slide.active {
    opacity: 1;
  }
    
  li:nth-child(1) {
    background: #1abc9c
  }
    
  li:nth-child(2){
    background: #e67e22
  }
    
  li:nth-child(3){
    background: #2ecc71
  }
    
  li:nth-child(4) {
    background: #8e44ad
  }
    
  li:nth-child(5) {
    background: #e74c3c
  } 
}