:root{
  --primary:black;
  --secondary:#E2C081;
  --white:#ffffff;
  --white-light:#f1f2f6;
  --red:#ee5253;
  --yellow:#fed330;
  --green:#10ac84;
  --gray:#6c757d;
  --gray-100:#f8f9fa;
  --gray-200:#e9ecef;
  --gray-300:#dee2e6;
  --gray-400:#f5f5f5;
  --text:#000;
  
  --color-title:#01204D;
  --color-text:#0B2750;
  --orange:#f9aa00;



  --bg-footer:#FFF2E5;
  --bg-dark:#535353;
  --bg-dark-1:#535360;
  --bg-light:#535354;
  --bg-btn:#ce9456;
  --color-icon:#828282;
  --bg-site:#f1f2f6;
  --bg-dropdown:#333;
  --bg-dropdown-1:#323232;
  --bg-dropdown-anim1:#1a1a1a;
  --bg-dropdown-anim2:#2a2a2a;
  --dropdown-text:#919191;
  --bg-btn-s: #000;
  --gray-light:#f1f2e0;
  --gray-dark:#dfe6e9;
  --text:#333; 
  --black:#000;
  --bg-header-elem-article:#faf4f4;

  --green-light:#1dd1a1;
  --green-faded:#81ecec;
  --red-light:#ff6b6b;
  --bg-latest:#0055a5;
  --blue:#1977d2;
  --blue-1:#1977c2;
  --blue-2:#1977a2; 
  --blue-3:#1977b2;   
  --blue-light:#1cbdfd;
  --blue-faded:#60a3bc;  
  --white:#ffffff;
  --white-light:#f1f2f6;

  

/*   --gray-portfolio:#8a8a8a;
  --dark:#2f3542;
  --dark-light:#57606f;
  --yellow-light:#f7b731;
  --orange-light:#fd9644;
  --white:#ffffff;
  --text-light:rgba(0,0,0,.5);
  --pink:#ebd4d4;
  --brown:#d5ae69;
  --brown-light:#d4ac66;
  --orange:#fad390;
  --dark: #343434;
  --white:#fff;
  --background:#faf4f4;
  --noir:#000;
  --hint:#aaa;
  --linkedin:#2779aa;
  --twitter:#1c9cea;
  --facebook:#4064ac;
  --dark:#011741;
  --sidebar:#f5f5f5;
  --html:#dd4b26;
  --css:#254bdd;
  --alerte:#ef3c00; */
}